
  ul.stepper li{
    display: inline-block;
    list-style-type:circle;
  }
  .stepper__order{
    background-image: url("../img/icon-1.png");
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: 20px 20px;
  }
  .stepper__content{
    display: inline-block;
    padding: auto;
    margin-right: 25px;



  }
  .stepper>li.uncompleted{
    color: hsl(204deg 63% 84%);
  }
  .stepper>li.active{
    font-weight: bold;
    color: hsl(207deg 66% 41%);
  }
  .meta_description{
    font-size: 14px;
  }
  .meta_title{
    font-size: 18px;
  }
  .product_stepper_step_index{
    visibility:hidden;
  }
  .stepper__label{
    margin-left: 25px;
  }
  .meta_step_TOP_1d1b6202-adbb-42f0-874f-04c157bae455_0{
    text-align: center;
  }
  .meta_step_TOP_1d1b6202-adbb-42f0-874f-04c157bae455_1{
    text-align: center;
  }
  @font-face {
    font-family: myFirstFont;
    src: url("../fonts/RooneySansBold.OTF");
  }
  @font-face {
    font-family: RooneySansLight;
    src: url("../fonts/RooneySansLight.OTF");
  }
  body{
    font-family: 'RooneySansLight';
  }
  .header{
    text-align: center;
  }
  div.header img{
    width: 300px;
    height: 64px;
  }
  #step-1d1b6202-adbb-42f0-874f-04c157bae455>.meta_top>div:first-child{
 
   /*  position: relative;

    top: 300px; */
  }
  #step-1d1b6202-adbb-42f0-874f-04c157bae455>.meta_top>div::nth-child(2){
 
   /*  position: relative;

    bottom: 300px; */
  }
 .meta_middle{
  text-align: center;
 }
 [name|="9d8d8817-4b18-402c-aec5-b79abf3a6261"] {
  visibility: hidden;
}
[name|="1f93f6a3-df6b-43cc-a339-bbc8789d5a1d"] {
  visibility: hidden;
}
[name|="e8f3bc94-d950-45e6-8d7d-684833d0e100"] {
  visibility: hidden;
}
[name|="f6558f04-9297-4e62-9600-e78e22ebd18d"] {
  visibility: hidden;
}
input[type=radio]:checked+label{
  border: 2px solid hsl(210deg 80% 84%);
}
 .MuiFormControlLabel-root-131{
  display: inline-grid;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  border: 0.5px solid hsl(213deg 44% 95%);
  font-size: 12px;
  height: 65px;
  padding: 5px;
  
 }
 .MuiFormGroup-root-129>.MuiFormControlLabel-root-131:has([name|="9d8d8817-4b18-402c-aec5-b79abf3a6261"]){
  width: 18%;
 }
 .MuiFormGroup-root-129>.MuiFormControlLabel-root-131:has([name|="1f93f6a3-df6b-43cc-a339-bbc8789d5a1d"]){
  width: 24.3%;
 }
 .MuiFormGroup-root-129>.MuiFormControlLabel-root-131:has([name|="e8f3bc94-d950-45e6-8d7d-684833d0e100"]){
  width: 18%;
 }
 .MuiFormGroup-root-129>.MuiFormControlLabel-root-131:has([name|="f6558f04-9297-4e62-9600-e78e22ebd18d"]){
  width: 18%;
 }
 .MuiButtonBase-root-126{
  height: 0px;
 }
 .MuiFormGroup-root-129>.MuiFormControlLabel-root-131:nth-child(2):has([name|="9d8d8817-4b18-402c-aec5-b79abf3a6261"]) {
  border: 2px solid hsl(210deg 80% 84%);
 }
 .radio_field_container {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-top: -0.75rem;
}
.field_label{
  margin-left: 135px;
  text-align: left;
  font-size: 12px;
  margin-bottom: 25px;
  margin-top: 25px;

}
.button_container{
  visibility: hidden;
}
.meta_bottom{
  visibility: hidden;
}
.container{
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}
#step-1d1b6202-adbb-42f0-874f-04c157bae455 .meta_top{
  display: flex;
  flex-direction: column-reverse;
 
}
.step-type-basic .meta_top .meta_step_TOP_1d1b6202-adbb-42f0-874f-04c157bae455_0::before{
 content: "";
 background:url("../img/clock.png") no-repeat;
 background-size: 20px 20px;
 background-position: 50% 50%;
 background-repeat: no-repeat;
 height: 20px;
 width: 100%;

 position: relative;
 display: inline-block;

}
.step-type-basic .meta_top .meta_step_TOP_1d1b6202-adbb-42f0-874f-04c157bae455_0::before{
  content: "5 minutes";
  display: inline-block;
 
 }
div:has(.meta_step_TOP_1d1b6202-adbb-42f0-874f-04c157bae455_0){
  text-align: left !important;
}